[submodule "cpr"]
	path = cpr
	url = git@github.com:whoshuu/cpr.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
[submodule "Wikipedia-Efication-Replaces"]
	path = replaces
	url = git@github.com:dima74/Wikipedia-Efication-Replaces.git
