# sudo systemctl start gunicorn-wikipedia-yofication.service
# sudo systemctl enable gunicorn-wikipedia-yofication.service
# sudo systemctl daemon-reload

[Unit]
Description=gunicorn daemon for Wikipedia-Yofication
After=network.target

[Service]
User=dima
Group=dima
WorkingDirectory=/home/dima/Wikipedia-Yofication/web-backend
ExecStart=/usr/bin/gunicorn --config gunicorn-config.py app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target