{% extends "base.html" %}

{% block head %}
    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #form {
            height: 70%;
            width: 70%;
            display: flex;
            flex-direction: column;
        }

        #form .card-content {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        #text {
            flex: 1;
            margin-top: 1rem;
            margin-bottom: 1rem;
            overflow-y: auto;
        }

        /* From materialize.css */
        textarea.materialize-textarea-my {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #9e9e9e;
            border-radius: 0;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 1rem;
            margin: 0 0 20px 0;
            padding: 0;
            box-shadow: none;
            box-sizing: content-box;
            transition: all 0.3s;
        }

        textarea.materialize-textarea-my:disabled,
        textarea.materialize-textarea-my[readonly="readonly"] {
            color: rgba(0, 0, 0, 0.26);
            border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
        }

        textarea.materialize-textarea-my:disabled + label,
        textarea.materialize-textarea-my[readonly="readonly"] + label {
            color: rgba(0, 0, 0, 0.26);
        }

        textarea.materialize-textarea-my:focus:not([readonly]) {
            border-bottom: 1px solid #26a69a;
            box-shadow: 0 1px 0 0 #26a69a;
        }

        textarea.materialize-textarea-my:focus:not([readonly]) + label {
            color: #26a69a;
        }

        textarea.materialize-textarea-my.valid,
        textarea.materialize-textarea-my:focus.valid {
            border-bottom: 1px solid #4CAF50;
            box-shadow: 0 1px 0 0 #4CAF50;
        }

        textarea.materialize-textarea-my.valid + label:after,
        textarea.materialize-textarea-my:focus.valid + label:after {
            content: attr(data-success);
            color: #4CAF50;
            opacity: 1;
        }

        textarea.materialize-textarea-my.invalid,
        textarea.materialize-textarea-my:focus.invalid {
            border-bottom: 1px solid #F44336;
            box-shadow: 0 1px 0 0 #F44336;
        }

        textarea.materialize-textarea-my.invalid + label:after,
        textarea.materialize-textarea-my:focus.invalid + label:after {
            content: attr(data-error);
            color: #F44336;
            opacity: 1;
        }

        textarea.materialize-textarea-my.validate + label {
            width: 100%;
            pointer-events: none;
        }

        textarea.materialize-textarea-my + label:after {
            display: block;
            content: "";
            position: absolute;
            top: 60px;
            opacity: 0;
            transition: .2s opacity ease-out, .2s color ease-out;
        }

        textarea.materialize-textarea-my {
            overflow-y: hidden;
            /* prevents scroll bar flash */
            padding: .8rem 0 1.6rem 0;
            /* prevents text jump on Enter keypress */
            resize: none;
            min-height: 3rem;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="POST" action="/yoficate" id="form" class="card">
        <div class="card-content">
            <span class="card-title">Автоматическая ёфикация текста</span>
            <textarea class="input-field materialize-textarea-my" id="text" name="text" placeholder="Введите текст для ёфикации" autocomplete="off" autofocus></textarea>
            <input class="input-field" id="minFrequency" type="text" placeholder="Минимальная частота для ёфикации (0-100, по умолчанию 60)">
            <input id="minFrequencyHidden" name="minFrequency" type="hidden" value="60">
        </div>
        <div class="card-action">
            <button class="waves-effect waves-light btn">Ёфицировать</button>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.0/jquery.form.min.js"></script>
    <script>
        $(function () {
            let paste = false;
            let inSubmit = false;

            $('#form').submit(function () {
                let minFrequency = $('#minFrequency').val();
                if (minFrequency !== '') {
                    $('#minFrequencyHidden').val(minFrequency);
                }
            });

            $('#form').ajaxForm({
                beforeSubmit: function () {
                    if (inSubmit) {
                        return false;
                    }
                    inSubmit = true;
                    Materialize.toast('ёфицируем...');
                },
                success: function (data) {
                    textYoficated = data.text_yoficated;
                    numberReplaces = data.number_replaces;
                    if (numberReplaces === 0) {
                        Materialize.toast('Замен не найдено');
                    } else {
                        $('#text').val(textYoficated);
                        Materialize.toast(`Текст успешно ёфицирован!<br> Найдено замен: ${numberReplaces}`);
                        $('#text').select();
                    }
                    inSubmit = false;
                }
            });

            $('#text').on('paste', function (event) {
                paste = $('#text').val().length === 0;
            });

            $('#text').on('input', function (event) {
                if (paste) {
                    paste = false;
                    $('#form').submit();
                }
            });
        });
    </script>
{% endblock %}