{% extends "base.html" %}

{% block head %}
    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #form {
            width: 70%;
            margin-top: 1rem;
        }

        #text {
            max-height: 60vh;
            overflow-y: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="POST" action="/yoficate" id="form" class="card">
        <div class="card-content">
            <span class="card-title">Автоматическая ёфикация текста</span>
            <textarea class="input-field materialize-textarea" id="text" name="text" placeholder="Введите текст для ёфикации" autofocus></textarea>
            <input class="input-field" id="minFrequency" type="text" placeholder="Минимальная частота для ёфикации (0-100, по умолчанию 60)">
            <input id="minFrequencyHidden" name="minFrequency" type="hidden" value="60">
        </div>
        <div class="card-action">
            <button class="waves-effect waves-light btn">Ёфицировать</button>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.0/jquery.form.min.js"></script>
    <script>
        $(function () {
            let paste = false;
            let inSubmit = false;

            $('#form').submit(function () {
                let minFrequency = $('#minFrequency').val();
                if (minFrequency !== '') {
                    $('#minFrequencyHidden').val(minFrequency);
                }
            });

            $('#form').ajaxForm({
                beforeSubmit: function () {
                    if (inSubmit) {
                        return false;
                    }
                    inSubmit = true;
                    Materialize.toast('ёфицируем...');
                },
                success: function (data) {
                    textYoficated = data.text_yoficated;
                    numberReplaces = data.number_replaces;
                    if (numberReplaces === 0) {
                        Materialize.toast('Замен не найдено');
                    } else {
                        $('#text').val(textYoficated);
                        Materialize.toast(`Текст успешно ёфицирован!<br> Найдено замен: ${numberReplaces}`);
                        $('#text').select();
                    }
                    inSubmit = false;
                }
            });

            $('#text').on('paste', function (event) {
                paste = $('#text').val().length === 0;
            });

            $('#text').on('input', function (event) {
                if (paste) {
                    paste = false;
                    $('#form').submit();
                }
            });
        });
    </script>
{% endblock %}