[Unit]
Description=gunicorn daemon for Wikipedia-Efication
After=network.target

[Service]
User=dima
Group=dima
WorkingDirectory=/home/dima/Wikipedia-Efication/web
ExecStart=/usr/bin/gunicorn --config gunicorn-config.py app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target